<h2>配送先編集</h2>
<%=	form_for	@shipping, url: { action: "update"}	do |f| %>
	<div class="row">
		<div class="field">
			<span class="col-xs-3">郵便番号(ハイフンなし)</span>
			<span class="col-xs-3"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></span>
		</div>
	</div>
	<div class="row">
		<div class="field">
			<span class="col-xs-3">住所</span>
			<span class="col-xs-7"><%= f.text_field :address, autofocus: true, autocomplete: "address" %></span>
		</div>
	</div>
	<div class="row">
		<div class="field">
			<span class="col-xs-3">宛名</span>
			<span class="col-xs-3">
				<%= f.text_field :name, autofocus: true, autocomplete: "name" %></span>
			<span class="col-xs-3 action">
				<%= f.submit "編集する",class:"btn btn-primary" %>
			</span>
		</div>
	</div>
<% end %>