<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
  <div class="field">
    <span class="col-xs-3">名前</span>
    <span class="col-xs-9">
      <%= f.label '(姓)' %>
      <%= f.text_field :family_name_kanji, autofocus: true, autocomplete: "family_name_kanji" %>
      <%= f.label '(名)' %>
      <%= f.text_field :first_name_kanji, autofocus: true, autocomplete: "first_name_kanji" %>
    </span>
  </div>
</div>

<div class="row">
  <div class="field">
    <span class="col-xs-3">フリガナ</span>
    <span class="col-xs-9">
      <%= f.label '(セイ)' %>
      <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
      <%= f.label '(メイ)' %>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </span>
  </div>
</div>

<div class="row">
  <div class="field">
    <span class="col-xs-3">メールアドレス</span>
    <span class="col-xs-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </span>
  </div>
</div>

<div class="row">
  <div class="field">
    <span class="col-xs-3">郵便番号(ハイフンなし)</span>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>
</div>

<div class="row">
  <div class="field">
    <span class="col-xs-3">住所</span>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>
</div>

<div class="row">
  <div class="field">
    <span class="col-xs-3">電話番号(ハイフンなし)</span>
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>
</div>

<div class="row">
  <div class="field">
    <span class="col-xs-3"><%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></span>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
</div>

<div class="row">
  <div class="field">
    <span class="col-xs-3"><%= f.label :password_confirmation %>
    </span>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>

  <div class="actions center row">
    <%= f.submit "新規登録",class:"btn btn-success btn-default col-xs-3 col-xs-offset-4" %>
  </div>
<% end %>


<h2>既に登録済みの方</h2>

<div><%= render "devise/shared/links" %>からログインしてください。</div>