<h3>注文履歴詳細</h3>

<table class= "table">
<thead>
        <tr>
          <th>購入者</th><th><%= kanji_full_name(@order.customer) %></th>
        </tr>
        <tr>
          <th>配送先</th><th><%= @order.postal_code %><br>
								<%= @order.address %><br>
								<%= @order.name %></th>
        </tr>
        <tr>
          <th>支払方法</th><th><%= @order.payment %></th>
        </tr>
        <tr>
          <th>注文ステータス</th><th><%= form_for @order,url:admin_order_path(@order) do |form| %>
          	<%= form.select :status, Order.statuses.keys.to_a %>
          	<%= form.submit '更新',class: 'btn btn-primary' %>
          	<% end %>
          	</th>
        </tr>
</thead>
</table>

<div class= "row">
<div class="col-xs-8">
<table class="table table-bordered">
    <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
        </tr>
    </thead>
    <tbody>
    	<% (@order.order_details).each do |order_detail| %>
    	<tr>
    		<td><%= order_detail.product.name %></td>
    		<td><%= (order_detail.price*1.1).round %></td>
    		<td><%= order_detail.number %></td>
    		<td><%= (order_detail.price*1.1*order_detail.number).round %></td>
    		<td><%= form_for order_detail,url:admin_order_detail_path(order_detail) do |form| %>
    			<%= form.select :production_status, OrderDetail.production_statuses.keys.to_a %>
          		<%= form.submit '更新',class: 'btn btn-primary' %>
          		<% end %>
          		</td>
    	</tr>
    	<% end %>
    </tbody>
</table>
</div>
<div class="col-xs-4">
	<table class= "table">
		<tbody>
			<tr>
				<th>商品合計</th>
				<td><%= @order.total_fee %>円</td>
			</tr>
			<tr>
				<th>送料</th>
				<td><%= @order.delivery_fee.to_s(:delimited) %>円</td>
			</tr>
			<tr>
				<th>請求金額合計</th>
				<td><%= (@order.total_fee + @order.delivery_fee).to_s(:delimited) %>円</td>
			</tr>
		</tbody>
	</table>
</div>
</div>