<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>

<% unless customer_signed_in? %>
	<div class="row">

		<div class="col-xs-10">
			<p>ようこそ、NaganoCakeへ！<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。</p>
		</div>

	</div>
<% end %>

<div class="row">
	<h2>今週のおすすめ</h2>
<% @products.each do |product| %>

  <div class="col-xs-3">
    <%= link_to product_path(product) do %>
      <%= attachment_image_tag product, :image, :fill, 200, 150, fallback: "no_image.jpg" %></br>
      <%= product.name %></br>
      ¥<%= product.price %>
    <% end %>
  </div>

<% end %>
<div class="pull-right"><%= link_to 'もっと見る>',products_path %></div>
</div>
