  <div class="row field form-group form-inline">
    <span class="col-xs-3"><strong>名前</strong><%= f.label '(姓)',class:"pull-right" %></span>
    <%= f.text_field :family_name_kanji, autofocus: true, autocomplete: "family_name_kanji",class:"form-control col-xs-2" %>
    <span class="col-xs-1"><%= f.label '(名)',class:"pull-right" %></span>
    <%= f.text_field :first_name_kanji, autofocus: true, autocomplete: "first_name_kanji",class:"form-control col-xs-2" %>
  </div>

  <div class="row field form-group form-inline">
    <span class="col-xs-3"><strong>フリガナ</strong><%= f.label '(セイ)',class:"pull-right" %></span>
    <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana",class:"form-control col-xs-2" %>
    <span class="col-xs-1"><%= f.label '(メイ)',class:"pull-right" %></span>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana",class:"form-control col-xs-2" %>
  </div>

  <div class="row field form-group form-inline">
    <span class="col-xs-3"><strong>メールアドレス</strong></span>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
  </div>

  <div class="row field form-group form-inline">
    <span class="col-xs-3"><strong>郵便番号</strong>(ハイフンなし)</span>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code",class:"form-control" %>
  </div>

  <div class="row field form-group form-inline">
    <span class="col-xs-3"><strong>住所</strong></span>
    <%= f.text_field :address, autofocus: true, autocomplete: "address",class:"form-control",size: 60 %>
  </div>

  <div class="row field form-group form-inline">
    <span class="col-xs-3"><strong>電話番号</strong>(ハイフンなし)</span>
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" ,class:"form-control"%>
  </div>

