<% if @customer.is_status == false %>

  <h2 class="center">退会済みのユーザーです。</h2>

<% else %>
  <h2>マイページ</h2>

  <h3>登録情報
    <%= link_to '編集する',edit_customer_path, class:"btn btn-primary" %>
    <!-- リンク先のビューページまだ無いので。 -->
    <%= link_to 'パスワードを変更する', '#', class:"btn btn-primary" %>
  </h3>

  <table class="table table-bordered ">
    <tr>
      <td>名前</td>
      <td><%= @customer.family_name_kanji + " " + @customer.first_name_kanji %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.family_name_kana + " " + @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.phone %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </table>

  <!-- リンク先まだ無いので仮置き -->
  <h3>配送先
    <%= link_to '一覧を見る','#', class:"btn btn-primary" %>
  </h3>
  <!-- リンク先まだ無いので仮置き -->
  <h3>注文履歴
    <%= link_to '一覧を見る','#',class:"btn btn-primary" %>
  </h3>

<% end %>