
<h2>注文情報入力</h2>

<%= form_for @order,url: orders_confirm_path,method: :post,html: {class:"form-inline"} do |f| %>
<%= f.error_messages! %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

  <h3>支払方法</h3>
    <div class="col-md-offset-1">
      <label><%= f.radio_button :payment, "クレジットカード" %>クレジットカード</label></br>
      <label><%= f.radio_button :payment, "銀行振込" %>銀行振込</label>
    </div>

  <h3>お届け先</h3>
    <div class="col-md-offset-1">

      <label><%= f.radio_button :select,"1" %>ご自身の住所</label></br>

      <div class="row">
        <p class="col-md-offset-1">  <%= customer_joint_address(current_customer) %></p>
      </div>

      <label><%= f.radio_button :select,"2" %>登録済住所から選択</label></br>

      <div class="rows">
        <%= f.select :shipping,shipping_array(current_customer),{},{class:"col-xs-offset-1 form-control"} %>
      </div>


      <label><%= f.radio_button :select,"3" %>新しいお届け先</label></br>

      <div class="col-md-offset-1">
        <div class="row">
          <%= f.label :postal_code, '郵便番号(ハイフンなし)',class:"col-md-3" %>
          <%= f.text_field :postal_code, class:"col-md-6 form-control" %>
        </div>
      </div>
      <div class="col-md-offset-1">
        <div class="row">
          <%= f.label :address, '住所',class:"col-md-3" %>
          <%= f.text_field :address, class:"col-md-6 form-control",size: 50 %>
        </div>
      </div>
      <div class="col-md-offset-1">
        <div class="row">
          <%= f.label :name, '宛名',class:"col-md-3" %>
          <%= f.text_field :name,class:"col-xs-6 form-control " %>
        </div>
      </div>

    </div>

  </div>
    <%= f.submit '確認画面へ進む',class:"btn btn-primary col-md-2 col-md-offset-5" %>
</div>

<% end %>