<h2>注文履歴詳細</h2>

<h3>注文情報</h3>
<div class= "row">
<div class="col-xs-8">
<table class="table table-bordered">
    <thead>
        <tr>
          <th>注文日</th><th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
        </tr>
        <tr>
          <th>配送先</th><th><%= @order.postal_code %><br>
								<%= @order.address %><br>
								<%= @order.name %></th>
        </tr>
        <tr>
          <th>支払方法</th><th><%= @order.payment %></th>
        </tr>
        <tr>
          <th>ステータス</th><th><%= @order.status %></th>
        </tr>
    </thead>
</table>
</div>
<div class="col-xs-3">
<h3>請求情報</h3>
<table class="table table-bordered">
<thead>
    <tr>
      <th>商品合計</th><th><%= @order.total_fee %></th>
    </tr>
    <tr>
      <th>配送料</th><th><%= @order.delivery_fee.to_s(:delimited) %></th>
    </tr>
    <tr>
      <th>ご請求額</th><th><%= (@order.total_fee + @order.delivery_fee).to_s(:delimited) %></th>
    </tr>
</thead>
</table>
</div>

<div class="col-xs-9">
<h3>注文内容</h3>
<table class="table table-bordered">
	<thead>
        <tr>
          <th>商品</th>
          <th>単価</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
    </thead>
	<tbody>
		<% (@order.order_details).each do |order_detail| %>
		<tr>
		<td><%= order_detail.product.name %></td>
		<td><%= (order_detail.price*1.1).round %></td>
		<td><%= order_detail.number %></td>
		<td><%= (order_detail.price*1.1*order_detail.number).round %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
