<tr>
  <td><%= attachment_image_tag(cart_item.product, :image, :fill, 45,30, fallback: "no_image.jpg") %>  <%= cart_item.product.name %></td>
  <td><%= tax_in_price(cart_item.product) %></td>
  <td class="center form-group form-inline">
    <%= form_for cart_item,url: cart_item_path(cart_item) do |f| %>
      <%= f.number_field :number,class:"form-control",min: 1,max: 9 %>
      <%= f.submit '変更', class:"btn btn-primary btn-xs form-control" %>
    <% end %>
  </td>
  <td><%= subtotal_fee(cart_item) %></td>
  <td class="text-center"><%= link_to '削除する',cart_item_path(cart_item), method: :delete, class:"btn btn-danger" %></td>
</tr>
