
<% if @cart_items.blank? %>

<div class="center">
  <h3><%= kana_full_name(current_customer) %>さんのカートにはまだ何も追加されていません。</h3>
  <%= link_to '買い物を続ける',products_path,class:"btn btn-primary col-md-2 col-md-offset-5" %>
</div>

<% else %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <h2>ショッピングカート
      <%= link_to 'カートを空にする',cart_items_path,method: :delete, class:"btn btn-danger pull-right" %></h2>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <div class="row">
            <th class="col-md-4">商品名</th>
            <th class="col-md-2">単価(税込)</th>
            <th class="col-md-2">数量</th>
            <th class="col-md-2">小計</th>
            <th class="col-md-2"></th>
          </div>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |ci| %>
        <tr>
          <td><%= attachment_image_tag(ci.product, :image, :fill, 60,45, fallback: "no_image.jpg") %>  <%= ci.product.name %></td>
          <td><%= tax_in_price(ci.product) %></td>
          <td class="center">
            <%= form_for ci,url: cart_item_path(ci) do |f| %>
              <%= f.number_field :number,class: "",min: 1,max: 9 %>
              <%= f.submit '変更', class:"btn btn-primary" %>
            <% end %>
          </td>
          <td><%= subtotal_fee(ci) %></td>
          <td><%= link_to '削除する',cart_item_path(ci), method: :delete, class:"btn btn-danger center-block" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <%= link_to '買い物を続ける',products_path,class:"btn btn-primary col-md-2" %>
      <span class="pull-right col-md-4">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <div class="row">
                <th class="active col-md-6">合計金額</th>
                <td><%= total_fee(@cart_items) %></td>
              </div>
            </tr>
          </tbody>
        </table>
      </span>
    </div>

    <div class="row center-block">
      <%= link_to '情報入力に進む',new_order_path,class:"btn btn-success btn-lg col-md-4 col-md-offset-4" %>
    </div>

  </div>
</div>

<% end %>