  <p class="notice">
       <%= flash[:success] %>
  </p>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-xs-4">
        <h2>商品詳細</h2>
        <%= attachment_image_tag @product, :image, format: 'jpeg', size: "300x200" %>
      </div>

      <div class="col-xs-4">
        <h4><b>商品名</b></h4>
            <%= @product.name %>
        <h4><b>商品説明</b></h4>
            <%= @product.description %>
        <h4><b>ジャンル</b></h4>
            <%= @product.genre.name %>
        <h4><b>税込価格（税抜価格）</b></h4>
            <%= tax_in_price(@product) %>
            (<%= @product.price %>) 円

        <h4><b>販売ステータス</b></h4>
            <%= @product.is_status %>
      </div>

      <div class="col-xs-4">
        <div class="productshow">
          <%= link_to '編集する', edit_admin_product_path(@product), class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>
