<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/27cb1ad52b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar">
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <ul class="nav navbar-nav navbar-left">
                      <%= link_to root_path do %>
                      <%= image_tag 'logo.png',:size => '150x50'  %>
                      <% end %>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">

                  <ul class="nav navbar-nav navbar-right">
                    <!--if文でサインインとアウト時の表示を変更-->
                    <% if admin_administrator_signed_in? %>
                        <li><%= form_tag(admin_search_path,method: :get) do %>
                            <%= text_field_tag :search,"",placeholder:"検索",class:"search-box" %>
                            <% end %></li>
                        <li><%= link_to ' 商品一覧', admin_products_path %></li>
                        <li><%= link_to ' 会員一覧', admin_customers_path %></li>
                        <li><%= link_to ' 注文履歴一覧', admin_orders_path %></li>
                        <li><%= link_to ' ジャンル一覧', admin_genres_path %></li>
                        <li><%= link_to ' ログアウト', destroy_admin_administrator_session_path, method: :delete %></li>

                    <% else %>
                        <li><%= link_to ' 商品一覧', products_path %></li>
                        <li><%= link_to ' 新規登録', new_customer_registration_path %></li>
                        <li><%= link_to ' ログイン', new_customer_session_path %></li>

                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
    </header>

        <div class="container">
            <p id="notice"><%= notice %></p>
            <%= yield %>
        </div>

  </body>
</html>

