<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar">
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <ul class="nav navbar-nav navbar-left">
                      <%= link_to root_path do %>
                      <%= image_tag 'logo.png',:size => '150x50'  %>
                      <% end %>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <!--if文でサインインとアウト時の表示を変更-->
                    <% if customer_signed_in? %>

                        <li class="welcome-customer">ようこそ、<%= kanji_full_name(current_customer) %>さん！</li>
                        <li><%= link_to ' マイページ', customer_path(current_customer) %></li>
                        <li><%= link_to ' 商品一覧', products_path %></li>
                        <li><%= link_to ' カート', cart_items_path %></li>
                        <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete %></li>

                    <% else %>
                        <li><%= link_to ' 商品一覧', products_path %></li>
                        <li><%= link_to ' 新規登録', new_customer_registration_path %></li>
                        <li><%= link_to ' ログイン', new_customer_session_path %></li>

                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
          <div id="container">
            <div id="theTarget">
              <div class="image1"></div>
              <div class="image2"></div>
              <div class="image3"></div>
              <div class="image4"></div>
              <div class="image5"></div>
            </div>
          </div>
    </header>

        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
          <p id="notice"><%= notice %></p>
            <%= yield %>
            </div>
          </div>
        </div>

  </body>
</html>
